@yellow : #e8e466;

.margenes(@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(40px,0px); 
}
  
.btn {
    background-color: whitesmoke;
    color: black; 
}
  

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px,0px);
}
  
.cosas-sucias {
   flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-nada {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  