.jumbotron {
  background-color: #e8e466;
  color: black;
  margin-top: 40px;
  margin-bottom: 0px;
}
.btn {
  background-color: whitesmoke;
  color: black;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #e8e466;
  margin-top: 10px;
  margin-bottom: 0px;
}
.cosas-sucias {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-nada {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
