$yellow:#ffffff;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(30px,50px )
}

.btn {
    background-color: whitesmoke;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px )
}

.cosas-sucias {
    flex: 1 200px;
  @include margenes(10px,0px )
}

.btn-nada {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}